<div class="w-[100%] border-blue-200 border-2 rounded-lg p-2">
  <div class="flex justify-center gap-2">
    <button class="p-2 border-2 rounded-md font-semibold" (click)="handleBackClick()" *ngIf="currentPage !== 0">Back</button>
    <button class="p-2 border-2 rounded-md font-semibold" (click)="handleNextClick()" *ngIf="!lastPage">Next</button>
  </div>
  <div class="flex justify-around gap-y-8 flex-wrap my-2">
    <img (click)="handleImageClick(image)" *ngFor="let image of imageList" class="w-[30%] rounded-md" src="{{image.fileUrl}}" alt="image" />
  </div>
</div>